#rounded-button {
  overflow: hidden;
  position: relative;
  display: inline-block;
  padding: 4px 12px;
}

#rounded-button::before,
#rounded-button::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

#rounded-button::after {
  content: attr(data-replace);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  height: 40%;
  top: 0;
  transform-origin: 100% 50%;
  transform: translate3d(0, 200%, 0);
  transition: transform .4s;
  padding: 4px 12px;
  color: #000000;

}

#rounded-button:hover::before {
  transform-origin: 0% 50%;
  transform: scaleX(1);
}

#rounded-button:hover::after {
  transform: translate3d(0, 0, 0);
}

#rounded-button span {
  display: inline-block;
  transition: transform .5s;
}

#rounded-button:hover span {
  transform: translate3d(0, -200%, 0);
}

/* Active state styles */
#rounded-button.active {
  background-color: black;
}

#rounded-button.active span {
  transform: translate3d(0, -200%, 0); /* Stay in place */
  transition: none; /* Disable transitions */
}

#rounded-button.active::before,
#rounded-button.active::after {
  transform: translate3d(0, 0, 0); /* Stay in place */
  color: #FD5D01; /* Active color */
  transition: none; /* Disable transitions */
}

#rounded-button.active:hover span,
#rounded-button.active:hover::after,
#rounded-button.active:hover::before {
  transform: translate3d(0, 0, 0); /* Stay in place */
  transition: none; /* Disable transitions */
}


