@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #E0E0E0;
  --background-start-rgb: #000000;
  --background-end-rgb: #E0E0E0;
  --default-font: var(--neue-montreal), sans-serif;
  --animation-duration: 1s; /* Default duration */

}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--foreground-rgb);
  overflow-x: hidden;
  /* background-image: url('../../public/noise.png'); */
}

body::before {
  content: "";
  background-image: url("../../public/noise.png"); /* Adjust the path as needed */
  background-repeat: repeat; /* Ensure the background image repeats */
  background-size: contain; /* Adjust if needed for your specific image */
  opacity: 0.1; /* Adjust opacity as needed (0.07 for 7% opacity) */
  position: fixed; /* Use fixed to ensure it covers the entire body */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place the pseudo-element behind other content */
  pointer-events: none; /* Ensure it doesn't interfere with clicks */
}

.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px; /* Or 64px for smaller screens */
  /* background-color: rgba(255, 255, 255, 0.5); Ensure a background color */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Safari-specific support */
  mix-blend-mode: difference; /* Apply mix-blend-mode */
  z-index: 50;
}

.scrolling-wrapper-flexbox {
    display: -webkit-box;       /* Fallback for older WebKit-based browsers */
    display: -ms-flexbox;       /* Fallback for IE10 */
    display: flex;
    -webkit-flex-wrap: wrap;    /* WebKit-based browsers */
    flex-wrap: wrap;
    -webkit-flex-direction: column; /* WebKit-based browsers */
    flex-direction: column;
    gap: 16px; /* Assuming gap-4 is equivalent to 1rem (16px) */
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 50px;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    padding-bottom: 10px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
